# Thanks to https://github.com/coil-kt/coil/blob/master/.github/workflows/ci.yml

name: firebase app distribution
on:
  push:
    branches:
      - master

  pull_request:
    types: [opened, synchronize]

jobs:
  ci:
    name: Build + Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - uses: actions/cache@v4
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}
          restore-keys: |
            ${{ runner.os }}-gradle-

      - name: Build
        run: ./gradlew assembleDebug
